version: "3.9"

services:
  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  backend:
    build: .
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
      - ./pytest.ini:/app/pytest.ini
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=django-insecure-w^@bj@s=-tx_rv-k^us_z3ox6jjtexq$q6hiy*!nhkzpr(wbhh
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - ./core:/app
    depends_on:
      - redis
      - backend
  
  beat:
    build: .
    command: celery -A core beat --loglevel=info
    volumes:
      - ./core:/app
    depends_on:
      - redis
      - backend