{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#062e3f" />
    <meta
      name="Description"
      content="A dynamic and aesthetic To-Do List WebApp."
    />
    <base href="{% static '/' %}" />
    <link rel="icon" type="image/png" href="image/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      href="{% static '/images/favicon.png' %}"
    />
    <link rel="stylesheet" href="CSS/style.css" />
    <title>JUST DO IT</title>
  </head>
  <body>
    <li>
      {% if user.is_authenticated %}
      <form
        id="logout-form"
        action="{% url 'accounts:logout' %}"
        method="post"
        style="display: inline"
      >
        {% csrf_token %}
        <button type="submit" class="default-button default-button-3">
          <span>خروج</span>
        </button>
      </form>
      {% else %}
      <a
        class="default-button default-button-3"
        href="{% url 'accounts:login' %}"
      >
        <span>ورود</span>
      </a>
      {% endif %}
    </li>
    {% block content %} 
    
    {% endblock content %}
    <script src="JS/main.js" type="text/javascript"></script>
  </body>
</html>
